.TodoItem {
  display: flex;
  margin-top: 5px;
  padding: 10px;
  border: 2px solid peru;
  align-items: center;
  justify-content: space-between;
}

.item__part {
  display: flex;
  flex-direction: column;
}

.btn {
  display: flex;
}

/* .inpt {
  display: flex;
  margin-top: 5px;
  padding: 10px;
  border: 2px solid peru;
} */
