.navbar {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background-color: lightgray;
}

.navbar__btns {
  margin-left: 5px;
}

.navbar__exit {
  margin-left: auto;
  margin-right: 25px;
}

.navbar__span {
  margin-left: auto;
  margin-right: 25px;
}

/* .navbar__links {
  border: 1px solid peru;
  padding: 5px 15px;
} */
